<div class="container-contactform">
	<div class="row vol" id="contactrow">
			<%# <h1>me contacter</h1> %>
	</div>
	<div class="row" id="contactrow">
			<%# <h4 style="text-align:center">We'd love to hear from you!</h4> %>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
      <h4 style="text-align:center"> Me contacter</h4>
				<div class="styled-input wide">
					<input type="text" required />
					<label>Nom</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Numéro de téléphone</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">envoyer le message</div>
			</div>
	</div>
</div>
