 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> %>
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3>me contacter</h3>
             <li><i class="fas fa-envelope-square"></i><a href="mailto:thibault.fitteduval.tfd@gmail.com" id="colooo"> M'envoyez un email</a></li>
             <li><i class="fas fa-phone-volume"></i><a href="tel:+33646359703" id="colooo"> 0646359703</a></li>
            <ul class="socials" id="colooo">
                <li><a href="https://github.com/melitapis"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/thibaultfitteduval/"><i class="fab fa-linkedin"></i></a></li>

            </ul>
        </div>

    </footer>
</body>
