<div class="container">
  <div class=" row justify-content-center col-12  ">
    <div class="container-home">

      <div><h2>Bonjour, Je suis<span> Thibault Fitte-Duval</span></h2>
            <h2> Je suis Web Developper </h2>

              <div class="container-btn ">
                 <a href="" id="neon-button-text"><span>read more</span></a>
               </div>

               <span class="hero__scroll">
              <i class="chevron bottom"></i>
            	</span>
        </div>
     </div>
    <%# II/part besoins cards %>
    <div class=" container-need " id="link-container-need" >
      <div class="box">
        <span></span>
        <div class="content">
          <h2>Card one</h2>
          <p>Neque porro quisquam est qui dolorem
          ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
          <a href="#"> me contacter</a>
        </div>
      </div>

      <div class="box">
        <span></span>
        <div class="content">
          <h2>Card deux</h2>
          <p>Neque porro quisquam est qui dolorem
          ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
          <a href="#"> me contacter</a>
        </div>
      </div>

      <div class="box">
        <span></span>
        <div class="content">
          <h2>Card trois</h2>
          <p>Neque porro quisquam est qui dolorem
          ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
          <a href="#"> me contacter</a>
        </div>
      </div>
    </div>

      <%# III/part about %>

        <div class="container-text-about center-justify col-12" >
    <%# center/justify content %>
    <h2>about me </h2>
    <%= image_tag "tfd.jpg", class: "me-img"%>
    <p>Est vel acriter odio volueritis necessario excusationem utrum si utrum qui vere pietatis alicuius sed existimare nimis necessitati ignoscendum nec si nec voluit hanc diligenter qui vel necessitati pietati est diligenter utrum odio descensurum quicquam acerbo descendisset hac excusationem fuisse libidine accusare pietati etiam odio atque tribuo ignoscendum pueritiae constituetis.</p>
    <p>Est vel acriter odio volueritis necessario excusationem utrum si utrum qui vere pietatis alicuius sed existimare nimis necessitati ignoscendum nec si nec voluit hanc diligenter qui vel necessitati pietati est diligenter utrum odio descensurum quicquam acerbo descendisset hac excusationem fuisse libidine accusare pietati etiam odio atque tribuo ignoscendum pueritiae constituetis.</p>
    <div class="btn-read-more">
    <a href="" id="neon-button-text"><span>read more</span></a>
    </div>
  </div>


  </div>
</div>
